*{
    margin: 0rem;
    padding: 0rem;
    font-family: "Roboto", sans-serif;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


.nav{
    display: flex;
    justify-content: space-between;
    width:90%;
    margin-left: 2rem;
    margin-top: 1.2rem;
    margin-right: 2rem;
    align-items: center;
    
    
    
   
    
}
#search{
    border-radius: 2rem;
    width: 50%;
    text-align:center;
    outline: none;
    height: 2rem;
    border-color:hsla(0, 0%, 50%, 0.13);
   

}
#profile{
    width: 40px;
    border-radius:50%;
    cursor: pointer;
    background-color: blue;
    
}
.labels{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1.2rem;
}
#l1{
    background-color: hsla(60, 4%, 44%, 0.075);
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    
    text-align: center;
    transition-duration: 0.5s;
}
#l1:hover{
    background-color: hwb(60 42% 54% / 0.527);

}
.description{
    display: flex;
    padding: 1rem;
    
}
#channel{
    border-radius: 50%;
}
.items{
    margin-left: 1rem;

}
#v1{
    border-radius: 1.5rem;
    transition-duration: 0.5s;
    margin-left: 1rem;
    display: block;
}
#v1:hover{
    border-radius:0px;
    cursor: pointer;
    
}
.container{
    margin-left: 3.4rem;
    margin-top: 1rem;
    display:grid;
    grid-template-columns: auto auto auto;
    flex-direction:row;
    

    
    

}
body{
    color: black;
    
    
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    color: #f03355;
    --_c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
    background: 
      var(--_c) 50% 0   /12px 12px,
      var(--_c) 50% 100%/12px 12px,
      var(--_c) 100% 50%/12px 12px,
      var(--_c) 0    50%/12px 12px,
      var(--_c) 50%  50%/12px 12px,
      conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
      -4px -4px/calc(50% + 2px) calc(50% + 2px);
    animation: l8 1s infinite linear;
  }
  @keyframes l8 {to{transform: rotate(.5turn)}}



.video{
    width: 400px;
    border-radius: 10px; /* Change border radius */
    overflow: hidden; /
}
video{
    width:100%;
    
}
.v1{
    margin-left: 1em;
}
